<%- include("layout/header") %>
    <main>
    <h2>Md Touhidul Islam</h2>
    <h4><i class="fa fa-envelope"></i>:touhidul2100@gmail.com</h4>
    <h4><i class="fa fa-phone"></i>:01993951092</h4>
    </main>
<%- include("layout/footer") %>