*{
    box-sizing: border-box;
    margin: 0;
    padding: auto;
    text-decoration: none;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header {
    align-items: center;
    min-height: 5vh;
    background-color: #4a7cad;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul{
    display:flex;
}
nav ul li{
    margin: 0 1rem;
    padding: auto;
    transition: all 0.3s;
}
nav ul li a{
   color: white;
   font-size: 1.2 rem;
   cursor: pointer;
}
nav ul li a:hover{
    background-color: green;
 }
 main{
    min-height: 90vh;
    background-color: #4a7cad;
    display:flex;
    padding-top: 1rem;
    align-items: center;
    flex-direction: column;
 }
 input{
    border: none;
    padding:0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
 }
.button {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.5rem;
    transition:all0.3s ease;
}

.button:hover {
    background-color:rgb(26, 22, 22);
}
main ul li{
    background-color: white;
    margin: 0.5rem 0;
    width:20rem;
    padding: 0.5rem;
    transition: all 0.3s;
}
main ul li:hover{
    background-color:black;
    color: white;
}
footer{
    min-height: 5vh;
    background-color: rgb(58, 112, 112);
}
a{
    font-size: 30px;
}